<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= hotel[0].hotelName %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i" rel="stylesheet">

    <link rel="stylesheet" href="/assets/hotels/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/assets/hotels/css/animate.css">
    
    <link rel="stylesheet" href="/assets/hotels/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/hotels/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/hotels/css/magnific-popup.css">

    <link rel="stylesheet" href="/assets/hotels/css/aos.css">

    <link rel="stylesheet" href="/assets/hotels/css/ionicons.min.css">

    <link rel="stylesheet" href="/assets/hotels/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/assets/hotels/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/assets/hotels/css/flaticon.css">
    <link rel="stylesheet" href="/assets/hotels/css/icomoon.css">
    <link rel="stylesheet" href="/assets/hotels/css/style.css">
</head>
<body>

 <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
   <div class="container">
     <a class="navbar-brand" href="/home">BLU</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
       <span class="oi oi-menu"></span> Menu
   </button>

   <div class="collapse navbar-collapse" id="ftco-nav">
       <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="#home" class="nav-link">Home</a></li>
          <li class="nav-item active"><a href="#bookRoom" class="nav-link">Book A Room</a></li>
          <li class="nav-item"><a href="#about" class="nav-link">About</a></li>
          <li class="nav-item"><a href="#services" class="nav-link">Amenities</a></li>
          <li class="nav-item"><a href="#blog" class="nav-link">Blog</a></li>
          <li class="nav-item"><a href="#rooms" class="nav-link">Rooms</a></li>
          <li class="nav-item"><a href="#restaurant" class="nav-link">Restaurant</a></li>
          <li class="nav-item"><a href="#footer" class="nav-link">Contact</a></li>
      </ul>
  </div>
</div>
</nav>
<!-- END nav -->

<section id="home" class="hero-wrap d-flex js-fullheight">
   <div class="forth js-fullheight d-flex align-items-center">
      <div class="text">
         <h2>Welcome to <b><%= hotel[0].hotelName %></b></h2>
         <h1 class="mb-5">A Perfect Place To Stay</h1>
         <p><a href="#bookRoom" class="btn-custom py-3 pr-2">Make A Booking</a></p>
     </div>
 </div>
 <div class="third js-fullheight">
  <section class="home-slider owl-carousel js-fullheight">
    <div class="slider-item js-fullheight" style="background-image: url(/assets/hotels/images/bg_1.jpg);">
       <div class="overlay"></div>
   </div>

   <div class="slider-item js-fullheight" style="background-image: url(/assets/hotels/images/bg_2.jpg);">
       <div class="overlay"></div>
   </div>

   <div class="slider-item js-fullheight" style="background-image: url(/assets/hotels/images/bg_3.jpg);">
       <div class="overlay"></div>
   </div>

   <div class="slider-item js-fullheight" style="background-image: url(/assets/hotels/images/bg_4.jpg);">
       <div class="overlay"></div>
   </div>
</section>

</div>
</section>

<section id="bookRoom" class="ftco-booking">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg text-lg-right">
            <h3 class="mb-4 mb-lg-0">Reserve A Perfect Room</h3>
        </div>
        <div class="col-lg-10">
            <form action="#" class="booking-form" method="post">
               <div class="d-lg-flex align-items-md-end">
                  <div class="form-group mb-3 mb-lg-0 mr-4">
                    <input name="hotelN" hidden="hidden" value="<%= hotel[0].hotelName %>"></input>
                    <input name="hotelA" hidden="hidden" value="<%= hotel[0].hotelAddress %>"></input>
                     <label for="#">Check-in Date</label>
                     <input name="checkin" type="text" class="form-control checkin_date" placeholder="Check-in date">
                 </div>
                 <div class="form-group mb-3 mb-lg-0 mr-4">
                     <label for="#">Check-out Date</label>
                     <input name="checkout" type="text" class="form-control checkout_date" placeholder="Check-out date">
                 </div>
                 <div class="form-group mb-3 mb-lg-0 mr-4">
                    <label for="#">Room Types</label>
                    <div class="form-field">
                      <div class="select-wrap">
                       <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                       <select name="roomType" id="" class="form-control">
                          <option value="suite">Suite <%= hotel[0].suite %> left</option>
                          <option value="family">Family Room <%= hotel[0].family %> left</option>
                          <option value="deluxe">Deluxe Room <%= hotel[0].deluxe %> left</option>
                          <option value="classic">Classic Room <%= hotel[0].classic %> left</option>
                          <option value="superior">Superior Room <%= hotel[0].superior %> left</option>
                          <option value="luxury">Luxury Room <%= hotel[0].luxury %> left</option>
                      </select>
                  </div>
              </div>
          </div>
          <div class="form-group mb-3 mb-lg-0 mr-4">
            <label for="#">Adults</label>
            <div class="form-field">
              <div class="select-wrap">
               <div class="icon"><span class="ion-ios-arrow-down"></span></div>
               <select name="adult" id="" class="form-control">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
              </select>
          </div>
      </div>
  </div>
  <div class="form-group mb-3 mb-lg-0 mr-4">
    <label for="#">Children</label>
    <div class="form-field">
      <div class="select-wrap">
       <div class="icon"><span class="ion-ios-arrow-down"></span></div>
       <select name="child" id="" class="form-control">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
      </select>
  </div>
</div>
</div>
<div class="form-group">
    <input type="submit" value="Reserve" class="btn btn-primary py-3 px-4">
</div>
</div>
</form>
</div>
</div>
</div>
</section>

<section id="services" class="ftco-section ftco-services">
 <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
          <div class="icon d-flex justify-content-center align-items-center mb-4">
              <span class="flaticon-reception-bell"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">25/7 Front Desk</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
            <p><a href="#" class="btn-customize">Read More</a></p>
        </div>
    </div>      
</div>
<div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
    <div class="media block-6 services">
      <div class="icon d-flex justify-content-center align-items-center mb-4">
          <span class="flaticon-serving-dish"></span>
      </div>
      <div class="media-body">
        <h3 class="heading">Restaurant Bar</h3>
        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
        <p><a href="#" class="btn-customize">Read More</a></p>
    </div>
</div>    
</div>
<div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
    <div class="media block-6 services">
      <div class="icon d-flex justify-content-center align-items-center mb-4">
          <span class="flaticon-car"></span>
      </div>
      <div class="media-body">
        <h3 class="heading">Transfer Services</h3>
        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
        <p><a href="#" class="btn-customize">Read More</a></p>
    </div>
</div>      
</div>
<div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
    <div class="media block-6 services">
      <div class="icon d-flex justify-content-center align-items-center mb-4">
          <span class="flaticon-spa"></span>
      </div>
      <div class="media-body">
        <h3 class="heading">Spa Suites</h3>
        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
        <p><a href="#" class="btn-customize">Read More</a></p>
    </div>
</div>      
</div>
</div>
</div>
</section>

<section id="rooms" class="ftco-section ftco-room bg-light">
 <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
         <span class="subheading">Rooms</span>
         <h2 class="mb-4">Book A Room</h2>
         <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
     </div>
 </div>
 <div class="carousel-rooms owl-carousel ftco-animate">
   <div class="item">
      <div class="room-wrap">
         <a href="room" class="img" style="background-image: url(/assets/hotels/images/room-1.jpg);"></a>
         <div class="text pt-4 pl-lg-5">
            <h2><a href="room">Suite Room</a></h2>
            <p class="rate">
               <span class="icon-star"></span>
               <span class="icon-star"></span>
               <span class="icon-star"></span>
               <span class="icon-star"></span>
               <span class="icon-star-half-full"></span>
           </p>
           <p class="d-flex price-details align-items-center pt-3">
               <span>Starting From</span>
               <span class="price">$100<small>/ night</small></span>
           </p>
           <p class="d-flex price-details align-items-center pt-3">
                <span>Availability</span>
               <span class="price"><%= hotel[0].suite %><small></small></span>
           </p>
           <p><a href="#" class="btn-customize">Reserve A Room</a></p>
       </div>
   </div>
</div>
<div class="item">
  <div class="room-wrap">
     <a href="room" class="img" style="background-image: url(/assets/hotels/images/room-2.jpg);"></a>
     <div class="text pt-4 pl-lg-5">
        <h2><a href="room">Family Room</a></h2>
        <p class="rate">
           <span class="icon-star"></span>
           <span class="icon-star"></span>
           <span class="icon-star"></span>
           <span class="icon-star"></span>
           <span class="icon-star-half-full"></span>
       </p>
       <p class="d-flex price-details align-items-center pt-3">
           <span>Starting From</span>
           <span class="price">$140<small>/ night</small></span>
       </p>
        <p class="d-flex price-details align-items-center pt-3">
                <span>Availability</span>
               <span class="price"><%= hotel[0].family %><small></small></span>
           </p>
       <p><a href="#" class="btn-customize">Reserve A Room</a></p>
   </div>
</div>
</div>
<div class="item">
  <div class="room-wrap">
     <a href="room" class="img" style="background-image: url(/assets/hotels/images/room-3.jpg);"></a>
     <div class="text pt-4 pl-lg-5">
        <h2><a href="room">Deluxe Room</a></h2>
        <p class="rate">
           <span class="icon-star"></span>
           <span class="icon-star"></span>
           <span class="icon-star"></span>
           <span class="icon-star"></span>
           <span class="icon-star-half-full"></span>
       </p>
       <p class="d-flex price-details align-items-center pt-3">
           <span>Starting From</span>
           <span class="price">$130<small>/ night</small></span>
       </p>
        <p class="d-flex price-details align-items-center pt-3">
                <span>Availability</span>
               <span class="price"><%= hotel[0].deluxe %><small></small></span>
           </p>
       <p><a href="#" class="btn-customize">Reserve A Room</a></p>
   </div>
</div>
</div>
<div class="item">
  <div class="room-wrap">
     <a href="room" class="img" style="background-image: url(/assets/hotels/images/room-4.jpg);"></a>
     <div class="text pt-4 pl-lg-5">
        <h2><a href="room">Classic Room</a></h2>
        <p class="rate">
           <span class="icon-star"></span>
           <span class="icon-star"></span>
           <span class="icon-star"></span>
           <span class="icon-star"></span>
           <span class="icon-star-half-full"></span>
       </p>
       <p class="d-flex price-details align-items-center pt-3">
           <span>Starting From</span>
           <span class="price">$200<small>/ night</small></span>
       </p>
        <p class="d-flex price-details align-items-center pt-3">
                <span>Availability</span>
               <span class="price"><%= hotel[0].classic %><small></small></span>
           </p>
       <p><a href="#" class="btn-customize">Reserve A Room</a></p>
   </div>
</div>
</div>
<div class="item">
  <div class="room-wrap">
     <a href="room" class="img" style="background-image: url(/assets/hotels/images/room-5.jpg);"></a>
     <div class="text pt-4 pl-lg-5">
        <h2><a href="room">Superior Room</a></h2>
        <p class="rate">
           <span class="icon-star"></span>
           <span class="icon-star"></span>
           <span class="icon-star"></span>
           <span class="icon-star"></span>
           <span class="icon-star-half-full"></span>
       </p>
       <p class="d-flex price-details align-items-center pt-3">
           <span>Starting From</span>
           <span class="price">$120<small>/ night</small></span>
       </p>
        <p class="d-flex price-details align-items-center pt-3">
                <span>Availability</span>
               <span class="price"><%= hotel[0].superior %><small></small></span>
           </p>
       <p><a href="#" class="btn-customize">Reserve A Room</a></p>
   </div>
</div>
</div>
<div class="item">
  <div class="room-wrap">
     <a href="room" class="img" style="background-image: url(/assets/hotels/images/room-6.jpg);"></a>
     <div class="text pt-4 pl-lg-5">
        <h2><a href="room">Luxury Room</a></h2>
        <p class="rate">
           <span class="icon-star"></span>
           <span class="icon-star"></span>
           <span class="icon-star"></span>
           <span class="icon-star"></span>
           <span class="icon-star-half-full"></span>
       </p>
       <p class="d-flex price-details align-items-center pt-3">
           <span>Starting From</span>
           <span class="price">$500<small>/ night</small></span>
       </p>
        <p class="d-flex price-details align-items-center pt-3">
                <span>Availability</span>
               <span class="price"><%= hotel[0].luxury %><small></small></span>
           </p>
       <p><a href="#" class="btn-customize">Reserve A Room</a></p>
   </div>
</div>
</div>
</div>
</div>
</section>

<section id="restaurant" class="ftco-section ftco-menu">
   <div class="container">
      <div class="row justify-content-center mb-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">Discover</span>
            <h2 class="mb-4">Our Restaurants</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
    </div>
    <div class="row d-md-flex">
     <div class="col-lg-12 ftco-animate p-md-5">
        <div class="row">
            <div class="col-md-12 nav-link-wrap mb-5">
              <div class="nav ftco-animate nav-pills justify-content-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Main Dish</a>

                <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Drinks</a>

                <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Desserts</a>
            </div>
        </div>
        <div class="col-md-12 d-flex align-items-center">

          <div class="tab-content ftco-animate" id="v-pills-tabContent">

            <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
               <div class="row">
                  <div class="col-md-4 text-center">
                     <div class="menu-wrap">
                        <a href="#" class="menu-img img mb-4" style="background-image: url(/assets/hotels/images/dish-1.jpg);"></a>
                        <div class="text">
                           <h3><a href="#">Grilled Beef</a></h3>
                           <p class="rate">
                             <span class="icon-star"></span>
                             <span class="icon-star"></span>
                             <span class="icon-star"></span>
                             <span class="icon-star"></span>
                             <span class="icon-star-half-full"></span>
                         </p>
                         <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                         <p class="price"><span>$2.90</span></p>
                         <p><a href="#" class="btn-customize">Add to cart</a></p>
                     </div>
                 </div>
             </div>
             <div class="col-md-4 text-center">
                 <div class="menu-wrap">
                    <a href="#" class="menu-img img mb-4" style="background-image: url(/assets/hotels/images/dish-2.jpg);"></a>
                    <div class="text">
                       <h3><a href="#">Grilled Beef</a></h3>
                       <p class="rate">
                         <span class="icon-star"></span>
                         <span class="icon-star"></span>
                         <span class="icon-star"></span>
                         <span class="icon-star"></span>
                         <span class="icon-star-half-full"></span>
                     </p>
                     <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                     <p class="price"><span>$2.90</span></p>
                     <p><a href="#" class="btn-customize">Add to cart</a></p>
                 </div>
             </div>
         </div>
         <div class="col-md-4 text-center">
             <div class="menu-wrap">
                <a href="#" class="menu-img img mb-4" style="background-image: url(/assets/hotels/images/dish-3.jpg);"></a>
                <div class="text">
                   <h3><a href="#">Grilled Beef</a></h3>
                   <p class="rate">
                     <span class="icon-star"></span>
                     <span class="icon-star"></span>
                     <span class="icon-star"></span>
                     <span class="icon-star"></span>
                     <span class="icon-star-half-full"></span>
                 </p>
                 <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                 <p class="price"><span>$2.90</span></p>
                 <p><a href="#" class="btn-customize">Add to cart</a></p>
             </div>
         </div>
     </div>
 </div>
</div>

<div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
  <div class="row">
      <div class="col-md-4 text-center">
         <div class="menu-wrap">
            <a href="#" class="menu-img img mb-4" style="background-image: url(/assets/hotels/images/drink-1.jpg);"></a>
            <div class="text">
               <h3><a href="#">Lemonade Juice</a></h3>
               <p class="rate">
                 <span class="icon-star"></span>
                 <span class="icon-star"></span>
                 <span class="icon-star"></span>
                 <span class="icon-star"></span>
                 <span class="icon-star-half-full"></span>
             </p>
             <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
             <p class="price"><span>$2.90</span></p>
             <p><a href="#" class="btn-customize">Add to cart</a></p>
         </div>
     </div>
 </div>
 <div class="col-md-4 text-center">
     <div class="menu-wrap">
        <a href="#" class="menu-img img mb-4" style="background-image: url(/assets/hotels/images/drink-2.jpg);"></a>
        <div class="text">
           <h3><a href="#">Pineapple Juice</a></h3>
           <p class="rate">
             <span class="icon-star"></span>
             <span class="icon-star"></span>
             <span class="icon-star"></span>
             <span class="icon-star"></span>
             <span class="icon-star-half-full"></span>
         </p>
         <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
         <p class="price"><span>$2.90</span></p>
         <p><a href="#" class="btn-customize">Add to cart</a></p>
     </div>
 </div>
</div>
<div class="col-md-4 text-center">
 <div class="menu-wrap">
    <a href="#" class="menu-img img mb-4" style="background-image: url(/assets/hotels/images/drink-3.jpg);"></a>
    <div class="text">
       <h3><a href="#">Soda Drinks</a></h3>
       <p class="rate">
         <span class="icon-star"></span>
         <span class="icon-star"></span>
         <span class="icon-star"></span>
         <span class="icon-star"></span>
         <span class="icon-star-half-full"></span>
     </p>
     <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
     <p class="price"><span>$2.90</span></p>
     <p><a href="#" class="btn-customize">Add to cart</a></p>
 </div>
</div>
</div>
</div>
</div>

<div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab">
  <div class="row">
      <div class="col-md-4 text-center">
         <div class="menu-wrap">
            <a href="#" class="menu-img img mb-4" style="background-image: url(/assets/hotels/images/dessert-1.jpg);"></a>
            <div class="text">
               <h3><a href="#">Hot Cake Honey</a></h3>
               <p class="rate">
                 <span class="icon-star"></span>
                 <span class="icon-star"></span>
                 <span class="icon-star"></span>
                 <span class="icon-star"></span>
                 <span class="icon-star-half-full"></span>
             </p>
             <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
             <p class="price"><span>$2.90</span></p>
             <p><a href="#" class="btn-customize">Add to cart</a></p>
         </div>
     </div>
 </div>
 <div class="col-md-4 text-center">
     <div class="menu-wrap">
        <a href="#" class="menu-img img mb-4" style="background-image: url(/assets/hotels/images/dessert-2.jpg);"></a>
        <div class="text">
           <h3><a href="#">Hot Cake Honey</a></h3>
           <p class="rate">
             <span class="icon-star"></span>
             <span class="icon-star"></span>
             <span class="icon-star"></span>
             <span class="icon-star"></span>
             <span class="icon-star-half-full"></span>
         </p>
         <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
         <p class="price"><span>$2.90</span></p>
         <p><a href="#" class="btn-customize">Add to cart</a></p>
     </div>
 </div>
</div>
<div class="col-md-4 text-center">
 <div class="menu-wrap">
    <a href="#" class="menu-img img mb-4" style="background-image: url(/assets/hotels/images/dessert-3.jpg);"></a>
    <div class="text">
       <h3><a href="#">Hot Cake Honey</a></h3>
       <p class="rate">
         <span class="icon-star"></span>
         <span class="icon-star"></span>
         <span class="icon-star"></span>
         <span class="icon-star"></span>
         <span class="icon-star-half-full"></span>
     </p>
     <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
     <p class="price"><span>$2.90</span></p>
     <p><a href="#" class="btn-customize">Add to cart</a></p>
 </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(/assets/hotels/images/bg_3.jpg);" data-stellar-background-ratio="0.5">
   <div class="container">
      <div class="row d-md-flex justify-content-center align-items-center">
         <div class="col-lg-8">
            <div class="row d-md-flex align-items-center">
                <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                  <div class="block-18 text-center">
                    <div class="text">
                      <strong class="number" data-number="50">0</strong>
                      <span>Hotel Branches</span>
                  </div>
              </div>
          </div>
          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
              <div class="block-18 text-center">
                <div class="text">
                  <strong class="number" data-number="20000">0</strong>
                  <span>Happy Guests</span>
              </div>
          </div>
      </div>
      <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
          <div class="block-18 text-center">
            <div class="text">
              <strong class="number" data-number="100">0</strong>
              <span>Rooms</span>
          </div>
      </div>
  </div>
  <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
      <div class="block-18 text-center">
        <div class="text">
          <strong class="number" data-number="100">0</strong>
          <span>Destinations</span>
      </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</section>

<section id="about" class="ftco-section ftc-no-pb ftc-no-pt bg-light">
 <div class="container">
    <div class="row">
       <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/assets/hotels/images/bg_2.jpg);">
          <a href="https://vimeo.com/45830194" class="icon popup-vimeo d-flex justify-content-center align-items-center">
             <span class="icon-play"></span>
         </a>
     </div>
     <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
         <div class="heading-section pt-md-5 pl-md-5 mb-5">
            <div class="ml-md-0">
               <span class="subheading">Welcome to islaGrande Hotel</span>
               <h2 class="mb-4">Watch Our Video</h2>
           </div>
       </div>
       <div class="pb-md-5">
         <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>
         <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
         <ul class="ftco-social d-flex">
            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
        </ul>
    </div>
</div>
</div>
</div>
</section>

<section class="ftco-section testimony-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
         <span class="subheading">Testimony</span>
         <h2 class="mb-4">Our satisfied customer says</h2>
         <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
     </div>
 </div>
 <div class="row ftco-animate">
  <div class="col-md-12">
    <div class="carousel-testimony owl-carousel">
      <div class="item">
        <div class="testimony-wrap p-4 pb-5 text-center">
          <div class="user-img mb-5" style="background-image: url(/assets/hotels/images/person_1.jpg)">
            <span class="quote d-flex align-items-center justify-content-center">
              <i class="icon-quote-left"></i>
          </span>
      </div>
      <div class="text">
         <p class="rate">
             <span class="icon-star"></span>
             <span class="icon-star"></span>
             <span class="icon-star"></span>
             <span class="icon-star"></span>
             <span class="icon-star-half-full"></span>
         </p>
         <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
         <p class="name">Garreth Smith</p>
         <span class="position">Guest from London</span>
     </div>
 </div>
</div>
<div class="item">
    <div class="testimony-wrap p-4 pb-5 text-center">
      <div class="user-img mb-5" style="background-image: url(/assets/hotels/images/person_2.jpg)">
        <span class="quote d-flex align-items-center justify-content-center">
          <i class="icon-quote-left"></i>
      </span>
  </div>
  <div class="text">
     <p class="rate">
         <span class="icon-star"></span>
         <span class="icon-star"></span>
         <span class="icon-star"></span>
         <span class="icon-star"></span>
         <span class="icon-star-half-full"></span>
     </p>
     <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
     <p class="name">Garreth Smith</p>
     <span class="position">Guests from USA</span>
 </div>
</div>
</div>
<div class="item">
    <div class="testimony-wrap p-4 pb-5 text-center">
      <div class="user-img mb-5" style="background-image: url(/assets/hotels/images/person_3.jpg)">
        <span class="quote d-flex align-items-center justify-content-center">
          <i class="icon-quote-left"></i>
      </span>
  </div>
  <div class="text">
     <p class="rate">
         <span class="icon-star"></span>
         <span class="icon-star"></span>
         <span class="icon-star"></span>
         <span class="icon-star"></span>
         <span class="icon-star-half-full"></span>
     </p>
     <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
     <p class="name">Garreth Smith</p>
     <span class="position">Guest from Hawaii</span>
 </div>
</div>
</div>
<div class="item">
    <div class="testimony-wrap p-4 pb-5 text-center">
      <div class="user-img mb-5" style="background-image: url(/assets/hotels/images/person_1.jpg)">
        <span class="quote d-flex align-items-center justify-content-center">
          <i class="icon-quote-left"></i>
      </span>
  </div>
  <div class="text">
     <p class="rate">
         <span class="icon-star"></span>
         <span class="icon-star"></span>
         <span class="icon-star"></span>
         <span class="icon-star"></span>
         <span class="icon-star-half-full"></span>
     </p>
     <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
     <p class="name">Garreth Smith</p>
     <span class="position">Guests from Norway</span>
 </div>
</div>
</div>
<div class="item">
    <div class="testimony-wrap p-4 pb-5 text-center">
      <div class="user-img mb-5" style="background-image: url(/assets/hotels/images/person_1.jpg)">
        <span class="quote d-flex align-items-center justify-content-center">
          <i class="icon-quote-left"></i>
      </span>
  </div>
  <div class="text">
     <p class="rate">
         <span class="icon-star"></span>
         <span class="icon-star"></span>
         <span class="icon-star"></span>
         <span class="icon-star"></span>
         <span class="icon-star-half-full"></span>
     </p>
     <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
     <p class="name">Garreth Smith</p>
     <span class="position">Guest from Italy</span>
 </div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>


<section id="blog" class="ftco-section bg-light">
 <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
         <span class="subheading">Blog</span>
         <h2 class="mb-4">Our Latest Blog</h2>
         <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
     </div>
 </div>	
 <div class="row">
  <div class="col-md-4 ftco-animate">
    <div class="blog-entry">
      <a href="blog-single" class="block-20" style="background-image: url('/assets/hotels/images/image_1.jpg');">
      </a>
      <div class="text py-4">
        <div class="meta mb-3">
          <div><a href="#">Oct. 12, 2018</a></div>
          <div><a href="#">Admin</a></div>
          <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
      </div>
      <div class="desc">
       <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
   </div>
</div>
</div>
</div>
<div class="col-md-4 ftco-animate">
    <div class="blog-entry" data-aos-delay="100">
      <a href="blog-single" class="block-20" style="background-image: url('/assets/hotels/images/image_2.jpg');">
      </a>
      <div class="text py-4">
        <div class="meta mb-3">
          <div><a href="#">Oct. 12, 2018</a></div>
          <div><a href="#">Admin</a></div>
          <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
      </div>
      <div class="desc">
       <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
   </div>
</div>
</div>
</div>
<div class="col-md-4 ftco-animate">
    <div class="blog-entry" data-aos-delay="200">
      <a href="blog-single" class="block-20" style="background-image: url('/assets/hotels/images/image_3.jpg');">
      </a>
      <div class="text py-4">
        <div class="meta mb-3">
          <div><a href="#">Oct. 12, 2018</a></div>
          <div><a href="#">Admin</a></div>
          <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
      </div>
      <div class="desc">
       <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
   </div>
</div>
</div>
</div>
</div>
</div>
</section>

<footer id ="footer" class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5 d-flex">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">About islaGrande</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
        </ul>
    </div>
</div>
<div class="col-md">
    <div class="ftco-footer-widget mb-4 ml-md-4">
      <h2 class="ftco-heading-2">Company</h2>
      <ul class="list-unstyled">
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Rooms</a></li>
        <li><a href="#">Amenities</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</div>
</div>
<div class="col-md">
   <div class="ftco-footer-widget mb-4">
      <h2 class="ftco-heading-2">Services</h2>
      <ul class="list-unstyled">
        <li><a href="#">Spa</a></li>
        <li><a href="#">Rooms</a></li>
        <li><a href="#">Restaurants</a></li>
        <li><a href="#">Gym</a></li>
        <li><a href="#">Promotion</a></li>
    </ul>
</div>
</div>
<div class="col-md">
    <div class="ftco-footer-widget mb-4">
       <h2 class="ftco-heading-2">Have a Questions?</h2>
       <div class="block-23 mb-3">
         <ul>
           <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
           <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
           <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
       </ul>
   </div>
</div>
</div>
</div>
<div class="row">
  <div class="col-md-12 text-center">

    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
  </div>
</div>
</div>
</footer>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


<script src="/assets/hotels/js/jquery.min.js"></script>
<script src="/assets/hotels/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/assets/hotels/js/popper.min.js"></script>
<script src="/assets/hotels/js/bootstrap.min.js"></script>
<script src="/assets/hotels/js/jquery.easing.1.3.js"></script>
<script src="/assets/hotels/js/jquery.waypoints.min.js"></script>
<script src="/assets/hotels/js/jquery.stellar.min.js"></script>
<script src="/assets/hotels/js/owl.carousel.min.js"></script>
<script src="/assets/hotels/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/hotels/js/aos.js"></script>
<script src="/assets/hotels/js/jquery.animateNumber.min.js"></script>
<script src="/assets/hotels/js/bootstrap-datepicker.js"></script>
<script src="/assets/hotels/js/jquery.timepicker.min.js"></script>
<script src="/assets/hotels/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="/assets/hotels/js/google-map.js"></script>
<script src="/assets/hotels/js/main.js"></script>

</body>
</html>